{% extends 'base.html' %}
{% block content %}



    <h2 style="text-align: center">
        {{ user.username }}
    </h2>
    <div class="card">
        {% for post in posts %}
            <a href="{{ post.get_absolute_url }}" class="card-body">
                {{ post.body| truncatewords:5 }}
            </a>
        {% endfor %}
    </div>
    <div class="create_post">
        {% if request.user.id == user.id %}
            <a href="{% url 'home:create_post' %}">
                <button style="background-color: bisque">
                    create
                </button>
            </a>
        {% endif %}
    <div >
        {% if request.user.id != user.id and is_following%}
            <a href="{% url 'account:user_follow' user_id %}">
                <button style="background-color: bisque">
                    Follow
                </button>
            </a>
        {% endif %}
    </div>

    </div>


{% endblock %}